@model ListingTodos.ViewModels.TodoViewModel
@using Humanizer
@{
    Layout = "_Layout";
}

<body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>Hi @ViewBag.User !</h1>
                    <h1>TODOs for today:</h1>
                </div>
            </div>
        </div>
        <div>
            <form action="/todo/add" method="get">
                <button type="submit" class="btn btn-success">Add new todo</button>
            </form>
        </div><br />
        <div class="row">
            <div class="col-md-10">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            @*@<th scope="col">&#x2714;</th>*@
                            <th scope="col">Task</th>
                            <th scope="col">Done</th>
                            <th scope="col">Urgent</th>
                            <th scope="col">Due on</th>
                            <th scope="col"></th>
                            <th scope="col">Created on</th>
                            <th scope="col">User</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Todos)
                        {
                            <tr>
                                <td>
                                    <form action="/todo/@item.Id/edit" method="get">
                                        <button type="submit" class="btn btn-warning">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </td>
                                @*@<td>
                                        <input type="checkbox" name="@item.Id" value="true" class="done-checkbox" />
                                    </td>*@

                                @if (item.IsUrgent == true && item.IsDone == true)
                                {
                                    <td class="bg-danger">
                                        <strong>
                                            <del>
                                                <a href="/todo/@item.Id/details">@item.Title</a>
                                            </del>
                                        </strong>
                                    </td>
                                }
                                else if (item.IsDone == true)
                                {
                                    <td>
                                        <del>
                                            <a href="/todo/@item.Id/details">@item.Title</a>
                                        </del>
                                    </td>
                                }
                                else if (item.IsUrgent == true)
                                {
                                    <td class="bg-danger">
                                        <strong>
                                            <a href="/todo/@item.Id/details">@item.Title</a>
                                        </strong>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="/todo/@item.Id/details">@item.Title</a>
                                    </td>
                                }

                                @if (item.IsDone == true)
                                {
                                    <td><button class="btn btn-success glyphicon glyphicon-ok"></button></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (item.IsUrgent == true)
                                {
                                    <td><button class="btn btn-danger glyphicon glyphicon-exclamation-sign"></button></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>@item.DueOn.Humanize()</td>
                                <td>
                                    <form action="/todo/@item.Id/delete" method="post">
                                        <button type="submit" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                </td>
                                <td>@item.AddedOn.ToString("yyyy/MM/dd")</td>
                                <td>
                                    @if (item.User != null)
                                    {
                                        <a href="/todo/list/@item.User.UserName">
                                            @Model.Users.FirstOrDefault(user => user.Id == item.User.Id).UserName
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/todo/list"></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
